@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-myblack: #121213;
  --color-translucentblack: rgba(0, 0, 0, 0.7);
  --color-mywhite: #ffffff;
  --color-mygrey: #7B7B7B;
  --color-mylightgrey: #F5F5F5;
  --color-textblack: #494E51;
  --color-textlight: #CECECE;
  --color-mypink: #FF2C54;
  --color-myblue: #007AFF;

  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

/* Text Color */

h1,h2,h3,h4,h5,h6{
  color: var(--color-myblack);
  font-family: var(--font-poppins);
  font-weight: 600;
}

p,a{
  color: var(--color-textblack);
  font-family: var(--font-roboto);
}

/* Text Sizing */
h1{
  font-size: 22px;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 14px;
}

p{
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

li{
  cursor: pointer;
}


@media (width >= 1024px ){
  h1{
    font-size: 28px;
  }
  
  h2{
    font-size: 24px;
  }

  h3{
    font-size: 18px;
  }
  
  p{
    font-size: 18px;
  }
}

/* Container */
.container{
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Hover Effects */
.articlecard{
  cursor: pointer;
}

.underline-lines {
  display: inline; /* Ensure it's an inline element */
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 0% 2px;
  background-image: linear-gradient(currentColor, currentColor);
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  transition: background-size 0.6s ease;
}

.articlecard:hover .underline-lines {
  background-size: 100% 2px;
}


/* Hover Effects Ends */

/* Navbar Starts */
.navlinks li a{
  font-family: var(--font-poppins);
}

/* Navbar Ends */